{% load static %}

<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SONDAGES</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<p>Rendez vous sur la page de sondages <a href="{% url 'polls:index' %}">Ici.</a></p>

</body>
</html>

